*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'robot-mono';
}

@font-face {
    font-family:'robot-mono';
    src: url(../Roboto_Mono/static/RobotoMono-Regular.ttf);
}

.Container{
    max-width: 1200px;
    margin: 0 auto;
}

/*encavezado de introduccionaa la paguina*/
.header1{
    height: 100vh;
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/blog1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
/*le agregue float al la lista para ponerlos uno al lado del otro en vez de display flex */
.menu .menu-bar ul li{
    position: relative;
    float: left;
    margin: 10px;
    font-weight: 600;
}
.menu .menu-bar ul li a{
    list-style: none;
    text-transform: uppercase;
    color: #ffffff;
}
.menu .menu-bar ul li a:hover{
    color: #c5835f;
}

.content-logo{
   width: 100px;
   margin-top: 5px;
}
.logo{
    width: 100%;
    border:2px solid #ffffff;
}
/*menu responcibo*/
#menu-btn{
    display: none;
}
.menu-icono{
    width: 30px;
}
.menu label{
    cursor: pointer;
    display: none;
}

.intro{
    text-align: center;
}
.intro h1{
   font-size: 1.8rem;
   line-height: 80px;
   color: #f9fafc;
   text-transform: uppercase;
   margin-bottom: 40px;
}
.intro p{
    font-size: 1.5rem;
    color:#f9fafc;
    padding:0 250px;
    margin-bottom: 30px;
}

.boton-inf{
    display: inline-block;
    padding:10px 20px;
    background-color:#CE9678;
    color: #ffffff;
    text-transform: uppercase;
}

.boton-inf:hover{
    background-color: #ffffff;
    color:#d19372 ;
}

/*seccion de muestra de tipos de cafe*/
.cup-coffe{
   padding: 100px 0;
   background-color: #ffffff;
   position: relative;
}

.coffe{
    text-align: center;
}

.txtH{
    font-size: 1.8rem;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txtP{
    font-size: 1.2rem;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffe-grup{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.cup-coffe img{
    width:300px;
}

.coffe-img{
    position: absolute;
    top: 0;
    right:0;
}

.tipos-de-cafe img{
    width: 200px;
}
.tipos-de-cafe{
    padding: 0 100px;
}
.tipos-de-cafe h3 p{
    line-height: 10px;
}
.tipos-de-cafe h3{
    color: #323337;
    font-size:1.2rem;
    margin-bottom:10px;
}

/*seccion de los tipos de servicios*/
.servicios{
    padding: 100px 0;
    position: relative;
    text-align: center;
    color: white;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/bg2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.servicios-container{
    text-align: center;
}

.servicios-container h2{
    font-size: 1.8rem;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.servicios-container p{
    font-size:1.2;
    padding: 0 230px;
    margin-bottom: 50px;
}

.servicios-grup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
/*main informacion adicional*/
.info-galeria{
    display: grid;
    grid-template-rows:550px;
    grid-template-columns:repeat(2,50%);
    justify-content: center;
}
.info-2{
    background-image: url(../img/coffe-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-3{
    background-image: url(../img/coffee-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-4,
.info-1{
    text-align: center;
    background-color: #ffffff;
}
.info-4 h2 ,
.info-1 h2 {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-top: 80px;
    margin-bottom:40px;
    color: #323337;
}
.info-4 p,
.info-1 p{
    font-size:1.2rem;
    padding:30px;
    margin-bottom: 30px;
    color: #414247;
}
.cuarto,
.tercero{
    position: relative;
    margin: auto;
}
/*seccion sucursales*/
.container-blog{
   padding: 100px 0;
   text-align: center;
}
.container-blog h2{
    color:#323337;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.container-blog p{
    color: #414247;
    padding: 30px;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.blog-grup{
    display: flex;
    justify-content: space-between;
}

.blog-1{
    padding: 15px 50px;
}

.container-blog img{
    border-radius: 5px;
    width: 250px;
    margin-bottom: 15px;
}

.blog-1 h3{
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.blog-1 p{
    font-size:1rem ;
    margin-bottom: 30px;
}
/*footer*/
.footer{
    height: 300px;
    background-color: #0a0a0a;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.footer-container{
    justify-content: center;
    text-align: center;
}
.nav-contacto{
    margin: 10px;
}
.nav-contacto ul li{
    color: #ffffff;
}
.nav-contacto ul li a{
    color:#ffffff;
}
.nav-contacto ul li a:hover{
    color:#CE9678;
}

.redes img{
    width:40px;
}

.nav-footer ul li a{
    color: #ffffff;
    margin: 5px;
}
.nav-footer ul li a:hover{    
    color: #CE9678;
}
.menu-footer{
    text-align:center;
    color: #ffffff;
    border-bottom:1px solid white;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.contacto-footer{
    text-align:center;
    color: #ffffff;
    border-bottom:1px solid white;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.redes-footer{
    text-align:center;
    color: #ffffff;
    border-bottom:1px solid white;
    margin-bottom: 5px;
    text-transform: uppercase;
}
/*PRODUCTOS boostrap*/
.header-2{
    background-color:#0a0a0a;
}
.header-2 h1{
    font-size: 1.7rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 10px;
}
.navbar{
    border-bottom: 1px solid #f9fafc;
}
.nav-items a{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    font-weight: 700;
    color: #ffffff;
}
a {
    text-decoration: none;
}
.nav-items a:hover{
    color: #c5835f;
}
.header{
    font-family: 'robot-mono';
     background-color: #ffffff;
}
.pt-6{
    padding:90px;
}

.about{
    background-color: #e7e4e4;
    border-bottom: 1px solid #ffffff;
}

button{
    border:0;
}
/*pagina contacto*/
.contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-texto{
    background-image: url(../img/cafe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
    border: 1px solid black;
}
.container-texto h1{
    color: #f9fafc;
    text-transform: uppercase;
    border-bottom:1px solid #f9fafc;
}
.container-texto h3{
    text-transform: uppercase;
    font-size: 1.7rem;
    color: #ffffff;
}
.container-texto p{
    color: #ffffffcc;
}

.container-form{
    background-color: #ccc;
    justify-content: center;
    border:2px solid black;
}
.form{
    height: 120px;
    margin-top: 10px;
    align-items: center;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:#333;
}
input[type='text'],
textarea,
input[ type='email']{
    justify-content: center;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.submit,
.reset{
    margin-top:40px;
    background-color: #333;
    color:#fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

/*sucursales*/
.sucursal{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.sucursal h2{
    text-transform: uppercase;
}
/*servicios*/
.servicio-img{
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(4,200px);
    grid-template-areas: 
    'tarta1 tarta1 tarta4'
    'tarta2 tarta2 tarta4'
    'tarta2 tarta2 tarta4'
    'tarta3 tarta3 tarta3';
    gap: 20px;
}
.texto-tartas{
    text-align:start;
}
.texto-tartas h3{
    font-size: 1.6rem;
    text-transform: uppercase;
}
.tarta{
    width: 100%;
    height: 100%;
}
.tarta1{
    grid-area: tarta1;
}
.tarta2{
    grid-area: tarta2;
}
.tarta3{
    grid-area: tarta3;
}
.tarta4{
    grid-area: tarta4;
}
.servicio-menu{
    padding: 30px;
}
.servicios-main{
    padding: 100px;
    display: flex;
}

.menu-cafes{
    width: 400px;
}

@media(max-width: 320px){
    /*heater responcive*/
 .menu{
    padding: 30px;
 }
 .menu label{
    display: initial;
 }
 .menu .menu-bar{
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    background-color: #323337;
    display: none;
 }
 .menu .menu-bar ul li{
    width: 100%;    
 }
.menu:checked ~ .menu-bar{
    display: initial; 
 }

 .header1{
    min-height: 25vh;
 }
 .intro .Container{
    padding: 100px 30px;
 }
 .intro h1{
    font-size: 1.4rem;
    line-height: normal;
    margin-top: 70px;
    margin-bottom: 30px;
    padding:0;
 }
 .intro p{
    font-size: 1.3rem;
    padding:0;
    margin-top: 0;
    margin-bottom: 0px;
 }
 /*responcive cafes*/
 .cup-coffe{
    padding: 30px;
 }
 .txtH{
     padding: 0;
 }
 .txtP{
    padding: 0;
 }
 .coffe-grup{
    flex-direction: column;
    margin-bottom: 0;
 }
 .tipos-de-cafe{
    padding: 0;
 }
.coffe-img{
    display: none;
}
/*responcive servicios*/
.servicios{
    padding: 30px;
}
.servicios-container p{
    padding:0;
}
.servicios-grup{
    flex-direction: column;
    margin-bottom: 0;
}
.servicio-1{
    margin-bottom: 20px;
}
/*responsive gaaleria info*/
.info-galeria{
    margin: 0;
    padding: 0;
}
.info-1 h2{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}
.info-1 p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 0;
}

.info-4 h2{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}
.info-4 p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 0;
}
/*resposive sucursales */
.container-blog{
    padding: 30px;
}
.blog-grup{
    flex-direction: column;
}
.blog-1{
    padding: 0;
}
/*responsive footer*/
.footer{
    height: 400px;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.footer-container{
    font-size: 1.3rem;
    padding: 0;
    flex-direction: column;
    text-align: center;
}
/*sucursales*/
.sucursal{
    margin: 0;
    margin-top: 15px;
    margin-bottom:15px;
}
.sucursal h4{
    font-size: 1.4rem;
}
.iframe{
     width: 300px;
}
/*contacto*/
.contacto{
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
}
.container-texto{
    padding: 0;
}
.submit,
.reset{
    background-color: #333;
    color:#fff;
    border: none;
    border-radius: 5px;
    font-size:1.2rem;
    margin-bottom: 0;
}

/*servicios*/
.servicio-img{
    padding: 0;
   display:flex;
   flex-direction: column;
   gap: 10px;
}
.tarta1{
    display: none;
}
.servicios-main{
    padding: 0;
    flex-direction: column;
}
.menu-cafes{
    margin-top: 5px;
    align-self: center;
    width: 200px;
}
.servicios-main p h3{
    padding: 0;
}
.texto-tartas{
    text-align: center;
}
}
@media only screen and (max-width: 480px){
     /*heater responcive*/
 .menu{
    padding: 30px;
 }
 .menu label{
    display: initial;
 }
 .menu .menu-bar{
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    background-color: #323337;
    display: none;
 }
 .menu .menu-bar ul li{
    width: 100%;    
 }
.menu:checked ~ .menu-bar{
    display: initial; 
 }

 .header1{
    min-height: 25vh;
 }
 .intro .Container{
    padding: 100px 30px;
 }
 .intro h1{
    font-size: 1.4rem;
    line-height: normal;
    margin-top: 70px;
    margin-bottom: 30px;
    padding:0;
 }
 .intro p{
    font-size: 1.3rem;
    padding:0;
    margin-top: 0;
    margin-bottom: 0px;
 }
 /*responcive cafes*/
 .cup-coffe{
    padding: 30px;
 }
 .txtH{
     padding: 0;
 }
 .txtP{
    padding: 0;
 }
 .coffe-grup{
    flex-direction: column;
    margin-bottom: 0;
 }
 .tipos-de-cafe{
    padding: 0;
 }
.coffe-img{
    display: none;
}
/*responcive servicios*/
.servicios{
    padding: 30px;
}
.servicios-container p{
    padding:0;
}
.servicios-grup{
    flex-direction: column;
    margin-bottom: 0;
}
.servicio-1{
    margin-bottom: 20px;
}
/*responsive gaaleria info*/
.info-galeria{
    margin: 0;
    padding: 0;
}
.info-1 h2{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}
.info-1 p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 0;
}

.info-4 h2{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}
.info-4 p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 0;
}
/*resposive sucursales */
.container-blog{
    padding: 30px;
}
.blog-grup{
    flex-direction: column;
}
.blog-1{
    padding: 0;
}
/*responsive footer*/
.footer{
    height: 400px;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.footer-container{
    font-size: 1.3rem;
    padding: 0;
    flex-direction: column;
    text-align: center;
}
/*sucursales*/
.sucursal{
    margin: 0;
    margin-top: 15px;
    margin-bottom:15px;
}
.sucursal h4{
    font-size: 1.4rem;
}
.iframe{
     width: 300px;
}
/*contacto*/
.contacto{
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
}
.container-texto{
    padding: 0;
}
.submit,
.reset{
    background-color: #333;
    color:#fff;
    border: none;
    border-radius: 5px;
    font-size:1.2rem;
    margin-bottom: 0;
}

/*servicios*/
.servicio-img{
    padding: 0;
   display:flex;
   flex-direction: column;
   gap: 10px;
}
.tarta1{
    display: none;
}
.servicios-main{
    padding: 0;
    flex-direction: column;
}
.menu-cafes{
    margin-top: 5px;
    align-self: center;
    width: 200px;
}
.servicios-main p h3{
    padding: 0;
}
.texto-tartas{
    text-align: center;
}
}
@media only screen and (max-width: 600px){
       /*heater responcive*/
 .menu{
    padding: 30px;
 }
 .menu label{
    display: initial;
 }
 .menu .menu-bar{
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    background-color: #323337;
    display: none;
 }
 .menu .menu-bar ul li{
    width: 100%;    
 }
.menu:checked ~ .menu-bar{
    display: initial; 
 }

 .header1{
    min-height: 25vh;
 }
 .intro .Container{
    padding: 100px 30px;
 }
 .intro h1{
    font-size: 1.4rem;
    line-height: normal;
    margin-top: 70px;
    margin-bottom: 30px;
    padding:0;
 }
 .intro p{
    font-size: 1.3rem;
    padding:0;
    margin-top: 0;
    margin-bottom: 0px;
 }
 /*responcive cafes*/
 .cup-coffe{
    padding: 30px;
 }
 .txtH{
     padding: 0;
 }
 .txtP{
    padding: 0;
 }
 .coffe-grup{
    flex-direction: column;
    margin-bottom: 0;
 }
 .tipos-de-cafe{
    padding: 0;
 }
.coffe-img{
    display: none;
}
/*responcive servicios*/
.servicios{
    padding: 30px;
}
.servicios-container p{
    padding:0;
}
.servicios-grup{
    flex-direction: column;
    margin-bottom: 0;
}
.servicio-1{
    margin-bottom: 20px;
}
/*responsive gaaleria info*/
.info-galeria{
    margin: 0;
    padding: 0;
}
.info-1 h2{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}
.info-1 p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 0;
}

.info-4 h2{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}
.info-4 p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 0;
}
/*resposive sucursales */
.container-blog{
    padding: 30px;
}
.blog-grup{
    flex-direction: column;
}
.blog-1{
    padding: 0;
}
/*responsive footer*/
.footer{
    height: 400px;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.footer-container{
    font-size: 1.3rem;
    padding: 0;
    flex-direction: column;
    text-align: center;
}
/*sucursales*/
.sucursal{
    margin: 0;
    margin-top: 15px;
    margin-bottom:15px;
}
.sucursal h4{
    font-size: 1.4rem;
}
.iframe{
     width: 300px;
}
/*contacto*/
.contacto{
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
}
.container-texto{
    padding: 0;
}
.submit,
.reset{
    background-color: #333;
    color:#fff;
    border: none;
    border-radius: 5px;
    font-size:1.2rem;
    margin-bottom: 0;
}

/*servicios*/
.servicio-img{
    padding: 0;
   display:flex;
   flex-direction: column;
   gap: 10px;
}
.tarta1{
    display: none;
}
.servicios-main{
    padding: 0;
    flex-direction: column;
}
.menu-cafes{
    margin-top: 5px;
    align-self: center;
    width: 200px;
}
.servicios-main p h3{
    padding: 0;
}
.texto-tartas{
    text-align: center;
}
}
@media only screen and(min-width: 700px){
       /*heater responcive*/
 .menu{
    padding: 30px;
 }
 .menu label{
    display: initial;
 }
 .menu .menu-bar{
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    background-color: #323337;
    display: none;
 }
 .menu .menu-bar ul li{
    width: 100%;    
 }
.menu:checked ~ .menu-bar{
    display: initial; 
 }

 .header1{
    min-height: 25vh;
 }
 .intro .Container{
    padding: 100px 30px;
 }
 .intro h1{
    font-size: 1.4rem;
    line-height: normal;
    margin-top: 70px;
    margin-bottom: 30px;
    padding:0;
 }
 .intro p{
    font-size: 1.3rem;
    padding:0;
    margin-top: 0;
    margin-bottom: 0px;
 }
 /*responcive cafes*/
 .cup-coffe{
    padding: 30px;
 }
 .txtH{
     padding: 0;
 }
 .txtP{
    padding: 0;
 }
 .coffe-grup{
    flex-direction: column;
    margin-bottom: 0;
 }
 .tipos-de-cafe{
    padding: 0;
 }
.coffe-img{
    display: none;
}
/*responcive servicios*/
.servicios{
    padding: 30px;
}
.servicios-container p{
    padding:0;
}
.servicios-grup{
    flex-direction: column;
    margin-bottom: 0;
}
.servicio-1{
    margin-bottom: 20px;
}
/*responsive gaaleria info*/
.info-galeria{
    margin: 0;
    padding: 0;
}
.info-1 h2{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}
.info-1 p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 0;
}

.info-4 h2{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
}
.info-4 p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 0;
}
/*resposive sucursales */
.container-blog{
    padding: 30px;
}
.blog-grup{
    flex-direction: column;
}
.blog-1{
    padding: 0;
}
/*responsive footer*/
.footer{
    height: 400px;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.footer-container{
    font-size: 1.3rem;
    padding: 0;
    flex-direction: column;
    text-align: center;
}
/*sucursales*/
.sucursal{
    margin: 0;
    margin-top: 15px;
    margin-bottom:15px;
}
.sucursal h4{
    font-size: 1.4rem;
}
.iframe{
     width: 300px;
}
/*contacto*/
.contacto{
    display: flex;
    margin: 0;
    padding: 0;
    top: 0;
}
.container-texto{
    padding: 0;
}
.submit,
.reset{
    background-color: #333;
    color:#fff;
    border: none;
    border-radius: 5px;
    font-size:1.2rem;
    margin-bottom: 0;
}

/*servicios*/
.servicio-img{
    padding: 0;
   display:flex;
   flex-direction: column;
   gap: 10px;
}
.tarta1{
    display: none;
}
.servicios-main{
    padding: 0;
    flex-direction: column;
}
.menu-cafes{
    margin-top: 5px;
    align-self: center;
    width: 200px;
}
.servicios-main p h3{
    padding: 0;
}
.texto-tartas{
    text-align: center;
}
}