* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "robot-mono";
}

@font-face {
  font-family: "robot-mono";
  src: url(../Roboto_Mono/static/RobotoMono-Regular.ttf);
}
.Container {
  max-width: 1200px;
  margin: 0 auto;
}

.header1 {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blog1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header1 .menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header1 .menu .menu-bar ul li {
  position: relative;
  float: left;
  margin: 10px;
  font-weight: 600;
}
.header1 .menu .menu-bar ul li a {
  list-style: none;
  text-transform: uppercase;
  color: #ffffff;
}
.header1 .menu .menu-bar ul li a:hover {
  color: #c5835f;
}
.header1 .menu .content-logo {
  width: 100px;
  margin-top: 5px;
}
.header1 .menu .content-logo .logo {
  width: 100%;
  border: 2px solid #ffffff;
}
.header1 .intro {
  text-align: center;
  color: #f9fafc;
}
.header1 .intro h1 {
  font-size: 1.8rem;
  line-height: 80px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.header1 .intro p {
  font-size: 1.5rem;
  padding: 0 250px;
  margin-bottom: 30px;
}

#menu-btn {
  display: none;
}

.menu-icono {
  width: 30px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.boton-inf {
  display: inline-block;
  padding: 10px 20px;
  background-color: #CE9678;
  color: #ffffff;
  text-transform: uppercase;
}

.boton-inf:hover {
  background-color: #ffffff;
  color: #d19372;
}

.cup-coffe {
  padding: 100px 0;
  background-color: #ffffff;
  position: relative;
}
.cup-coffe .coffe-img {
  position: absolute;
  top: 0;
  right: 0;
}
.cup-coffe .coffe {
  text-align: center;
}
.cup-coffe .coffe .txtH {
  font-size: 1.8rem;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  padding: 0 250px;
  margin-bottom: 15px;
}
.cup-coffe .coffe .txtP {
  font-size: 1.2rem;
  color: #414247;
  padding: 0 250px;
  margin-bottom: 35px;
}
.cup-coffe .coffe .coffe-grup {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.cup-coffe .coffe .coffe-grup .tipos-de-cafe img {
  width: 200px;
}
.cup-coffe .coffe .coffe-grup .tipos-de-cafe {
  padding: 0 100px;
}
.cup-coffe .coffe .coffe-grup .tipos-de-cafe h3 p {
  line-height: 10px;
}
.cup-coffe .coffe .coffe-grup .tipos-de-cafe h3 {
  color: #323337;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.cup-coffe img {
  width: 300px;
}

.servicios {
  padding: 100px 0;
  position: relative;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.servicios .servicios-container {
  text-align: center;
}
.servicios .servicios-container .servicios-grup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.servicios .servicios-container h2 {
  font-size: 1.8rem;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.servicios .servicios-container p {
  font-size: 1.2;
  padding: 0 230px;
  margin-bottom: 50px;
}

.info-galeria {
  display: grid;
  grid-template-rows: 550px;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
}

.info-2 {
  background-image: url(../img/coffe-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-3 {
  background-image: url(../img/coffee-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-4,
.info-1 {
  text-align: center;
  background-color: #ffffff;
}

.info-4 h2,
.info-1 h2 {
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #323337;
}

.info-4 p,
.info-1 p {
  font-size: 1.2rem;
  padding: 30px;
  margin-bottom: 30px;
  color: #414247;
}

.container-blog {
  padding: 100px 0;
  text-align: center;
}
.container-blog .blog-grup {
  display: flex;
  justify-content: space-between;
}
.container-blog .blog-grup .blog-1 {
  padding: 15px 50px;
}
.container-blog .blog-grup .blog-1 .blog-1 h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.container-blog .blog-grup .blog-1 .blog-1 p {
  font-size: 1rem;
  margin-bottom: 30px;
}

.container-blog h2 {
  color: #323337;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.container-blog p {
  color: #414247;
  padding: 30px;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.container-blog img {
  border-radius: 5px;
  width: 250px;
  margin-bottom: 15px;
}

.footer {
  height: 400px;
  background-color: #0a0a0a;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.nav-contacto {
  margin: 10px;
}

.nav-contacto ul li {
  color: #ffffff;
}

.nav-contacto ul li a {
  color: #ffffff;
}

.nav-contacto ul li a:hover {
  color: #CE9678;
}

.redes img {
  width: 40px;
}

.nav-footer ul li a {
  color: #ffffff;
  margin: 5px;
}

.nav-footer ul li a:hover {
  color: #CE9678;
}

.menu-footer {
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.contacto-footer {
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.redes-footer {
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid white;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.header-2 {
  background-color: #0a0a0a;
}
.header-2 .navbar {
  border-bottom: 1px solid #f9fafc;
}
.header-2 .nav-items a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px;
  font-weight: 700;
  color: #ffffff;
}
.header-2 a {
  text-decoration: none;
}
.header-2 .nav-items a:hover {
  color: #c5835f;
}
.header-2 .content-logo {
  width: 100px;
  margin-top: 5px;
}
.header-2 .content-logo .logo {
  width: 100%;
  border: 2px solid #ffffff;
}

.header-2 h1 {
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
