.boton-inf{
    display: inline-block;
    padding:10px 20px;
    background-color:#CE9678;
    color: #ffffff;
    text-transform: uppercase;
}

.boton-inf:hover{
    background-color: #ffffff;
    color:#d19372 ;
}