.header1{
    height: 100vh;
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/blog1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu-bar ul li{
            position: relative;
            float: left;
            margin: 10px;
            font-weight: 600;

           
          
        }
        .menu-bar ul li a{
            list-style: none;
            text-transform: uppercase;
            color: #ffffff;
        } 
        .menu-bar ul li a:hover{
            color: #c5835f;
        }
        .content-logo{
            width: 100px;
            margin-top: 5px;
            
            .logo{
                width: 100%;
                border:2px solid #ffffff;
            }
         }
    }
    
    .intro{
        text-align: center;
        color:#f9fafc;
    }
    .intro h1{
        font-size: 1.8rem;
        line-height: 80px;
        text-transform: uppercase;
        margin-bottom: 40px;
     }

     .intro p{
        font-size: 1.5rem;
        padding:0 250px;
        margin-bottom: 30px;
    }
}