*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'robot-mono';
}
@font-face {
    font-family:'robot-mono';
    src: url(../Roboto_Mono/static/RobotoMono-Regular.ttf);
}


    
a{
    text-decoration: none;
}