$colorprincipal:  #f7ae87;
$colorprincipal2:  #d19372;

.informacion{
    display: inline-block;
    padding:10px 20px;
    background-color:#CE9678;
    color: #ffffff;
    text-transform: uppercase;

    &:hover{
        background-color: #ffffff;
        color:$colorprincipal2;
        transition: all 0.4s;
    }
    &:active{
        background-color: rgb(221, 221, 221);
        color:$colorprincipal2;
    }
}

