$breakpoints:(
    sm :320px,
    sm2 :576px,
    md :768px,
    lg :992px,
    lg2:1025px
);

@mixin media-up($breakpoint){
    @media screen and (max-width:map-get($breakpoints,$breakpoint)){
        @content
    }
}
