.header {
    font-family: 'robot-mono';
    background-color: #ffffff;
    .pt-6 {
        padding: 90px;
    }
}
a {
    text-decoration: none;
}
.about {
    background-color: #e7e4e4;
    border-bottom: 1px solid #ffffff;
}

button {
    border: 0;
}