.header{
    font-family: 'robot-mono';
    background-color: #ffffff;

    .pt-6{
        padding: 90px;
    }
}

.row{
    display: flex;
}
.about{
    background-color: #e7e4e4;
    border-bottom: 1px solid #ffffff;
}

button{
    border: 0;
}
.boton-inf{
    display: inline-block;
    padding:10px 20px;
    background-color:#CE9678;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.boton-inf:hover{
    background-color: #ffffff;
    color:#d19372 ;
}