.cup-coffe {
    padding: 100px 0;
    background-color: #ffffff;
    position: relative;

    .coffe-img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .coffe {
        text-align: center;

        .txtH {
            font-size: 1.8rem;
            line-height: 70px;
            color: #323337;
            text-transform: uppercase;
            padding: 0 250px;
            margin-bottom: 15px;
        }

        .txtP {
            font-size: 1.2rem;
            color: #414247;
            padding: 0 250px;
            margin-bottom: 35px;
        }

        .coffe-grup {
            display: flex;
            justify-content: space-around;
            margin-bottom: 50px;

            .tipos-de-cafe img {
                width: 200px;
            }

            .tipos-de-cafe {
                padding: 0 100px;
            }

            .tipos-de-cafe h3 p {
                line-height: 10px;
            }

            .tipos-de-cafe h3 {
                color: #323337;
                font-size: 1.2rem;
                margin-bottom: 10px;
            }

        }
    }
}
.cup-coffe img {
    width: 300px;
}

