.servicio-img {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas:
        'tarta1 tarta1 tarta4'
        'tarta2 tarta2 tarta4'
        'tarta2 tarta2 tarta4'
        'tarta3 tarta3 tarta3';
    gap: 20px;

    @include media-up(sm) {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @include media-up(sm2) {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @include media-up(md) {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @include media-up(lg) {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @include media-up(lg2) {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 100px);
    }

    .texto-tartas {
        text-align: start;

        h2 {
            font-size: 1.6rem;
            text-transform: uppercase;
            border-bottom: 1px solid black;
        }
    }

    .tarta {
        width: 100%;
        height: 100%;
    }

    .tarta1 {
        grid-area: tarta1;

        @include media-up(sm) {
            display: none;
        }

        @include media-up(md) {
            display: none;
        }

        @include media-up(lg) {
            display: none;
        }
    }

    .tarta2 {
        grid-area: tarta2;
    }

    .tarta3 {
        grid-area: tarta3;
    }

    .tarta4 {
        grid-area: tarta4;
    }
}

.servicio-menu {
    padding: 30px;
}

.servicios-main {
    padding: 100px;
    display: flex;


    @include media-up(sm) {
        padding: 0;
        flex-direction: column;

        p h3 {
            padding: 0;
        }
    }

    @include media-up(sm2) {
        padding: 0;
        flex-direction: column;

        p h3 {
            padding: 0;
        }
    }

    @include media-up(md) {
        padding: 0;
        flex-direction: column;

        p h3 {
            padding: 0;
        }
    }

    @include media-up(lg) {
        padding: 0;
        flex-direction: column;

        p h3 {
            padding: 0;
        }
    }
}

.cafes-menu {
    width: 400px;

    @include media-up(sm) {
        width: 300px;
        padding: 10px 10px;
        align-self: center;
    }

    @include media-up(md) {
        width: 300px;
        padding: 10px 10px;
        align-self: center;
    }

    @include media-up(lg) {
        width: 300px;
        padding: 10px 10px;
        align-self: center;
    }
}

.container-menus {
    padding: 100px 0;
    text-align: center;
    margin-bottom: 10px;

    @include media-up(sm) {
        padding: 0;
    }

    @include media-up(sm2) {
        padding: 0;
    }

    .menus {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;

        @include media-up(sm) {
            flex-direction: column;
        }

        @include media-up(sm2) {
            flex-direction: column;
        }

        @include media-up(lg2) {
            flex-direction: column;
        }

        & img {
            width: 350px;

            @include media-up(sm) {
                width: 300px;
            }

            &:hover {
                transform: scale(1.5);
                transition: all 2s;
                box-shadow: 0 60px 40px rgb(0 0 0 / 10%);

                @include media-up(sm) {
                    transform: scale(1.0);
                }

                @include media-up(sm2) {
                    transform: scale(1.4);
                }

            }
        }
    }
}